extends email-layout

block content
  h2 Şifre Yenileme
  p Merhaba, bu mail şifre yenileme talebinde bulunduğun için gönderildi. Link geçerliliği 1 saat sonra son bulacak.
  +button(resetURL, 'Şifre Yenile →')
  p Eğer butona tıklayamıyorsan linki kopyala #{resetURL}
  br
  p Eğer bu isteği sen yapmadıysan bu maili önemseme.
