extends layout 

block content
    .inner 
        h2= title
        .map 
            .autocomplete 
                input.autocomplete__input(type="text" placeholder="Arama yap" name="geolocate")
            #map 
                p Harita yükleniyor...