mixin storeDetails(store)
        table.table 
            thead 
                td Fotoğraf 
                td Yiyecek İsmi
                td Açıklama
                td Fiyat
            tr 
                td 
                    .review__header
                        .review__author
                            img.avatar(src=user.gravatar)
                td Yemek
                td Açıklama
                td 1,99